.nav-type {
  margin: 5px 0;
}

.input-field {
  margin: 5px 0;
}
.output-field {
  margin: 5px 0;
}

.input-buttons {
  margin: 10px 0;
  /*text-align: center;*/
}

.jwt-config {
  margin-right: 10px;
}