.nav-type {
  margin: 5px 0;
}

.input-field, .output-field {
  resize: none;
}

.jwt-config-wrapper {

}

.jwt-config {
  margin-right: 10px;
}

.jwt-validate-sig-wrapper {
  display: inline-block;
}

.input, .output {
  margin: 10px 0;
}

.input-buttons {
  margin: 10px 0;
  /*text-align: center;*/
}

.error {
  /* box-shadow: x-offset y-offset blur spread color */
  box-shadow: 0px 0px 5px 2px red;
}
